{% extends 'base.html.twig' %}

{% block title %}Edition du contact {{ index }}{% endblock %}

{% block body %}
    <h1 class="ui"> Edition du contact {{ index }}</h1>
    <div class="ui divider"></div>
    <form class="ui form" type="POST" action="/contacts/update">
        <div class="field">
            <input type="text" name="nom" placeholder="Nom" value="{{ contact.nom }}">
        </div>
        <div class="field">
            <input type="text" name="prenom" placeholder="Prenom" value="{{ contact.prenom }}">
        </div>
        <div class="field">
            <input type="text" name="email" placeholder="Email" value="{{ contact.email }}">
        </div>
        <div class="field">
            <input type="text" name="tel" placeholder="Telephone" value="{{ contact.tel }}">
        </div>
        <div class="field">
            <input type="text" name="mobile" placeholder="Mobile" value="{{ contact.mobile }}">
        </div>
        <input type="hidden" name="index" value={{ index }}>
        <input class="ui button" type="submit" value="Modifier" ><br>
        <br>
    </form>
{% endblock %}